<!DOCTYPE html>
<html lang="{{@site.lang}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{@site.title}} — {{t "Sign in"}}</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{>services/google_fonts}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
        {{ghost_head}}
    </head>
    <body class="{{#get "tags" limit="all" filter="visibility:internal"}}{{#foreach tags visibility="internal"}} global-{{slug}}{{/foreach}}{{/get}}">
        <div class="section-page-custom flex">
            {{#if @site.cover_image}}
            <div class="page-custom-image" style="background-image: url({{@site.cover_image}})">
            </div>
            {{/if}}
            <div class="page-custom-wrap">
                <div class="page-custom-header">
                    <a href="{{@site.url}}">{{t "Back to Homepage"}}</a>
                </div>
                <div class="page-custom-content flex">
                    <div class="subscribe-wrap">
                        <form data-members-form="signin" class="subscribe-form">
                            <h3>{{t "Welcome back!"}}</h3>
                            <div id="ityped" class="ityped">
                                <span class="ityped-wrap"></span>
                            </div>
                            <div class="form-group">
                                <input data-members-email class="subscribe-email" placeholder="{{t "Your email address"}}" type="email" name="email" aria-label="{{t "Your email address"}}" required>
                            </div>
                            <button type="submit" class="global-button">{{t "Send login link"}}</button>
                        </form>
                        <small>{{t "Don't have an account yet?"}} <a href="{{@site.url}}/signup/">{{t "Sign up"}}</a></small>
                        {{>members_subscribe_alerts}}
                        <div class="subscribe-success">
                            <h3>{{t "Great!"}}</h3>
                            {{t "Check your inbox and click the link to complete signin"}}
                            <br>
                            <a href="{{@site.url}}" class="global-button">{{t "Back to Homepage"}}</a>
                        </div>
                    </div>
                </div>
                <div class="page-custom-footer">
                    <a href="{{@site.url}}">{{@site.title}}.</a>
                    {{#if @site.description}}
                    <span>{{@site.description}}.</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <script src="{{asset "js/ityped.js"}}"></script>
        <script>
        /* Custom settings for iTyped.js */
        var initTyped = document.getElementById("ityped");
        if (initTyped) {
            ityped.init(document.querySelector(".ityped-wrap"), {
                strings: ['{{t "Sign into your account to get to the good stuff"}}'],
                showCursor: true,
                typeSpeed:  150,
                startDelay: 500,
                backDelay:  5000
            });
        }
        </script>
        {{ghost_foot}}
    </body>
</html>