{{!< default}}
{{#author}}
<div class="section-profile">
	<div class="profile-wrap {{#if cover_image}}is-cover" style="background-image: url({{cover_image}}){{/if}}">
		{{#if profile_image}}
		<div class="author-image" style="background-image: url({{profile_image}})"></div>
		{{/if}}
		<h1>{{name}}</h1>
		<div class="author-social">
			{{#if location}}
			<div class="location">{{>icons/site/location}}<span>{{location}}</span></div>
			{{/if}}
			{{#if website}}
			<a href="{{website}}" aria-label="link Website">{{>icons/site/link}}</a>
			{{/if}}
			{{#if facebook}}
			<a href="{{facebook_url}}" aria-label="link Facebook">{{>icons/social/facebook}}</a>
			{{/if}}
			{{#if twitter}}
			<a href="{{twitter_url}}" aria-label="link Twitter">{{>icons/social/twitter}}</a>
			{{/if}}
		</div>
		{{#if bio}}
		<h2>{{bio}}</h2>
		{{/if}}
	</div>
</div>
{{/author}}
{{>loop}}
{{>load_more}}
{{pagination}}
{{>members_subscribe_form}}