<!DOCTYPE html>
<html lang="{{@site.lang}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{@site.title}} — {{meta_title}}</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{>services/google_fonts}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
        {{ghost_head}}
    </head>
    <body class="{{#get "tags" limit="all" filter="visibility:internal"}}{{#foreach tags visibility="internal"}} global-{{slug}}{{/foreach}}{{/get}}">
        <div class="section-page-custom flex">
            {{#post}}
            {{#if feature_image}}
            <div class="page-custom-image" style="background-image: url({{feature_image}})"></div>
            {{/if}}
            <div class="page-custom-wrap">
                <div class="page-custom-header">
                    <a href="{{@site.url}}">{{t "Back to Homepage"}}</a>
                </div>
                <div class="page-custom-content flex">
                    <div class="subscribe-wrap contact-wrap">
                        <h3>{{title}}</h3>
                        <div id="ityped" class="ityped">
                            <span class="ityped-wrap"></span>
                        </div>
                        <form method="POST" action={{>services/formspree}}>
                            <input class="subscribe-email contact-name" required type="text" name="name" placeholder="{{t "Your name"}}">
                            <input class="subscribe-email contact-email" required type="email" name="email" placeholder="{{t "Your email address"}}">
                            <textarea class="subscribe-email contact-message" required name="message" placeholder="{{t "Your message"}}"></textarea><br>
                            <button class="global-button" type="submit">{{t "Send message"}}</button>
                        </form>
                    </div>
                </div>
                <div class="page-custom-footer">
                    <a href="{{@site.url}}">{{@site.title}}.</a>
                    {{#if @site.description}}
                    <span>{{@site.description}}.</span>
                    {{/if}}
                </div>
            </div>
            {{/post}}
        </div>
        <script src="{{asset "js/ityped.js"}}"></script>
        <script>
        /* Custom settings for iTyped.js */
        var initTyped = document.getElementById("ityped");
        if (initTyped) {
            ityped.init(document.querySelector(".ityped-wrap"), {
                strings: ['{{t "Let’s talk!"}}'],
                showCursor: true,
                typeSpeed:  150,
                startDelay: 500,
                backDelay:  5000
            });
        }
        </script>
        {{ghost_foot}}
    </body>
</html>