<!DOCTYPE html>
<html lang="{{@site.lang}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_title page=(t "meta-page")}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{ghost_head}}
	</head>
	<body class="{{body_class}}{{#get "tags" limit="all" filter="visibility:internal"}}{{#foreach tags visibility="internal"}} global-{{slug}}{{/foreach}}{{/get}}">
		<div class="global-wrap">
			<div class="section-content-wrap">
				{{>header}}
				{{{body}}}
			</div>
			{{>footer}}
			{{>members_notifications}}
		</div>
		{{>search}}
		{{#if pagination.pages}}
		<script>var numberPage = {{pagination.pages}};</script>
		<script src="{{asset "js/index.js"}}"></script>
		{{/if}}
		{{#is "post, page"}}
		<script src="{{asset "js/post.js"}}"></script>
		{{/is}}
		<script src="{{asset "js/global.js"}}"></script>
		<script src="{{asset "js/ityped.js"}}"></script>
		{{{block "members_notifications_script"}}}
		{{{block "members_subscribe_form_script"}}}
		{{ghost_foot}}
	</body>
</html>