<div class="post-share">
	<a class="twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
	onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">{{>icons/social/twitter}}</a>
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
	onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">{{>icons/social/facebook}}</a>
	<a class="copy" id="copy" data-clipboard-target="#link-value">{{>icons/site/copy}}</a>
	<span class="copy-popup">{{t "The link has been copied!"}}</span>
	<input type="text" value="{{url absolute="true"}}" id="link-value">
</div>